[Desktop Entry]
Comment=Launches the HOOMD-blue Python interpreter
Exec=hoomd %f
Icon=hoomd
MimeType=application/x-hoomd;
Name=HOOMD-blue
StartupNotify=false
Terminal=true
Type=Application
Category=Physics;Chemistry;Science;Education;;
