[submodule "hoomd/extern/libgetar"]
	path = hoomd/extern/libgetar
	url = https://github.com/glotzerlab/libgetar
[submodule "hoomd/extern/pybind"]
	path = hoomd/extern/pybind
	url = https://github.com/glotzerlab/pybind11.git
[submodule "hoomd/extern/upp11"]
	path = hoomd/extern/upp11
	url = https://github.com/glotzerlab/upp11.git
[submodule "hoomd/extern/nano-signal-slot"]
	path = hoomd/extern/nano-signal-slot
	url = https://github.com/glotzerlab/nano-signal-slot.git
[submodule "hoomd/extern/cereal"]
	path = hoomd/extern/cereal
	url = https://github.com/glotzerlab/cereal.git
[submodule "hoomd/extern/cub"]
	path = hoomd/extern/cub
	url = https://github.com/glotzerlab/cub.git
[submodule "hoomd/extern/quickhull"]
	path = hoomd/extern/quickhull
	url = https://github.com/glotzerlab/quickhull
[submodule "hoomd/extern/Eigen"]
	path = hoomd/extern/Eigen
	url = https://github.com/glotzerlab/eigen-git-mirror.git
[submodule "hoomd/extern/random123"]
	path = hoomd/extern/random123
	url = https://github.com/glotzerlab/random123.git
[submodule "hoomd/extern/neighbor"]
	path = hoomd/extern/neighbor
	url = https://github.com/mphoward/neighbor.git
