*.sublime-workspace
*.DS_Store
*.dcd
*.gsd
build
html
__pycache__
.gdb_history
*.pyc
*.swp
.vscode

# clangd
.clangd
.cache
compile_commands.json

# general specification of editor standards
.editorconfig

# virtualenv
.venv
# pixi environments
.pixi/*
!.pixi/config.toml
