[submodule "hoomd/extern/upp11"]
	path = hoomd/extern/upp11
	url = https://github.com/glotzerlab/upp11.git
[submodule "hoomd/extern/nano-signal-slot"]
	path = hoomd/extern/nano-signal-slot
	url = https://github.com/glotzerlab/nano-signal-slot.git
[submodule "hoomd/extern/quickhull"]
	path = hoomd/extern/quickhull
	url = https://github.com/glotzerlab/quickhull
[submodule "hoomd/extern/random123"]
	path = hoomd/extern/random123
	url = https://github.com/glotzerlab/random123.git
[submodule "hoomd/extern/HIP"]
	path = hoomd/extern/HIP
	url = https://github.com/glotzerlab/HIP.git
[submodule "hoomd/extern/hipCUB"]
	path = hoomd/extern/hipCUB
	url = https://github.com/glotzerlab/hipCUB
	branch = header_only
[submodule "hoomd/extern/neighbor"]
	path = hoomd/extern/neighbor
	url = https://github.com/mphowardlab/neighbor.git
[submodule "hoomd/extern/hipper"]
	path = hoomd/extern/hipper
	url = https://github.com/mphowardlab/hipper.git
[submodule "sphinx-doc/tutorial"]
	path = sphinx-doc/tutorial
	url = https://github.com/glotzerlab/hoomd-examples
