[Desktop Entry]
Comment=Launches the HOOMD Python interpreter
Exec=$HOME/hoomd_install/bin/hoomd %f
Icon=hoomd
InitialPreference=9
MimeType=application/x-hoomd
Name=HOOMD
StartupNotify=false
Terminal=true
Type=Application
