ipython==9.2.0
nbconvert==7.16.6
nbsphinx==0.9.7
numpy==2.2.6
pandoc==2.4
furo==2024.8.6
tornado==6.5
sphinxcontrib-googleanalytics==0.4
sphinxcontrib-katex==0.9.10
sphinx-copybutton==0.5.2
sphinx-notfound-page==1.1.0
